<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%= $t('static.index.pageTitle') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#005c5c" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@0.5.2/iconfont/material-icons.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/icon-button@4.0.0/dist/mdc.icon-button.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/ripple@4.0.0/dist/mdc.ripple.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/data-table@5.0.0/dist/mdc.data-table.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@5.0.0/dist/mdc.typography.min.css">
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div id="main-wrapper">
    <main>
      <div class="title-button">
        <h1 class="mdc-typography--headline4"><%= $t('static.index.myForms') %></h1>
        <a class="mdc-button mdc-button--unelevated" href="_new">
          <div class="mdc-button__ripple"></div>
          <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
          <span class="mdc-button__label"><%= $t('static.index.newForm') %></span>
        </a>
      </div>
      <div id="no-forms" class="hidden">
        <%= $t('static.index.noForm') %>
      </div>
      <div class="mdc-data-table" id="forms-table-div">
        <table class="mdc-data-table__table" id="forms-table" aria-label="Dessert calories">
          <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell forms-table-edit" role="columnheader" scope="col"></th>
              <th class="mdc-data-table__header-cell title" role="columnheader" scope="col"><%= $t('static.index.title') %></th>
              <th class="mdc-data-table__header-cell creation" role="columnheader" scope="col"><%= $t('static.index.creation') %></th>
              <th class="mdc-data-table__header-cell last-update" role="columnheader" scope="col"><%= $t('static.index.lastUpdate') %></th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col"><%= $t('static.index.status') %></th>
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col"><%= $t('static.index.submissionCount') %></th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content" id="forms-table-body"></tbody>
        </table>
      </div>
      <div class="empty"></div>
      <footer>
        <a href="https://keeer.net/?utm_source=vote&utm_medium=indexfooter" class="link">
          <img class="footer-logo" alt="KEEER Logo" src="https://keeer.net/img/logo/dark-large.svg">
        </a>
        <a href="/tac?utm_source=indexfooter" class="link"><%= $t('static.index.tac') %></a>
        <a href="/privacy-policy?utm_source=indexfooter" class="link"><%= $t('static.index.privacyPolicy') %></a>
        <a href="https://vote-lab.keeer.net/equableyear/contact-keeer/fill?utm_source=vote&utm_medium=indexfooter" class="link"><%= $t('static.index.contact') %></a>
        <p><%= $t('static.index.copyright') %></p>
      </footer>
    </main>
  </div>
  <div id="idframe"></div>
  <script language="application/x-template" id="form-template">
    <tr class="mdc-data-table__row">
      <td class="mdc-data-table__cell forms-table-edit"><a class="mdc-icon-button material-icons" href="/:path:/edit">edit</a></td>
      <td class="mdc-data-table__cell title">:title:</td>
      <td class="mdc-data-table__cell creation">:creation:</td>
      <td class="mdc-data-table__cell last-update">:lastUpdate:</td>
      <td class="mdc-data-table__cell">:status:</td>
      <td class="mdc-data-table__cell mdc-data-table__cell--numeric">:submissionCount:</td>
    </tr>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@material/ripple@4.0.0/dist/mdc.ripple.min.js"></script>
  <script src="https://account.keeer.net/api/idframe"></script>
  <script>
    var $ = function (sel) { return document.querySelector(sel) }
    var $$ = function (sel) { return Array.from(document.querySelectorAll(sel)) }
    $$('.mdc-button').forEach(function (el) { new mdc.ripple.MDCRipple(el) })
    var formsTableBody = $('#forms-table-body')
    var formTemplate = $('#form-template').innerHTML
    new idFrame.AppBarFrame({
      container: $('#idframe'),
      // TODO: pro etc
    })
    var displayTime = function (time) {
      if (time === 0) return '<%= $t('static.index.unknown') %>'
      time = new Date(time)
      var now = new Date()
      // <60s : just now; >60s, same year: date; not same year: date and year
      if (now.getTime() - time.getTime() < 60 * 1000) return '<%=  $t('static.index.justNow')%>'
      if (now.toDateString() === time.toDateString()) return '<%= $t('static.index.today') %>'
      if (now.getFullYear() !== time.getFullYear()) return time.getFullYear() + '/' + (time.getMonth() + 1) + '/' + time.getDate()
      else return (time.getMonth() + 1) + '/' + time.getDate()
    };
    fetch('/_forms').then(function (res) { return res.json() }).then(function (res) {
      if (res.length === 0) {
        $('#forms-table-div').classList.add('hidden')
        $('#no-forms').classList.remove('hidden')
      } else {
        formsTableBody.innerHTML = res.map(function (form) {
          return (formTemplate
            .replace(/:path:/g, form.userName + '/' + form.name)
            .replace(/:title:/g, form.title)
            .replace(/:creation:/g, displayTime(form.data.creation || 0))
            .replace(/:lastUpdate:/g, displayTime(form.data.lastUpdate || 0))
            .replace(/:status:/g, form.data && form.data.settings && form.data.settings['basic.retrieving'] ? '<%= $t('static.index.retrieving') %>' : '<%= $t('static.index.notRetrieving') %>')
            .replace(/:submissionCount:/g, form.submissionCount)
          )
        }).join('')
        $$('.mdc-icon-button').forEach(function (el) { (new mdc.ripple.MDCRipple(el)).unbounded = true })
      }
    })
  </script>
</body>
</html>
